.tod{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:5rem;
    margin-left:5rem;
    margin-right:5rem;

}
.tod input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:1rem;
    font weight:1rem;
    background: #edeef0;
    border-radius:3rem;
    
}
.tod button{
    border:none;
    outline:none;
    padding:1rem 2rem;
    background:#ff5945;
    color:#fff;
    font-size:1rem;
    cursor:pointer;
    border-radius:40px;
}

.tod button:hover{
background:#ff5530;
}
.tod{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:5rem;
    margin-left:5rem;
    margin-right:5rem;

}
.tod input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:1rem;
    font weight:1rem;
    background: #edeef0;
    border-radius:3rem;
    
}
.tod button{
    border:none;
    outline:none;
    padding:1rem 2rem;
    background:#ff5945;
    color:#fff;
    font-size:1rem;
    cursor:pointer;
    border-radius:40px;
}

.tod button:hover{
background:#ff5530;
}

#list-container{
    padding-left:5rem;
    padding-right:5rem;
    /* background-color:silver; */
}
li {
  padding: 10px;
  margin: 5px;
  background-color: #fff;
  border-radius:15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adjust shadow properties as needed */
margin:1.5rem;
}


ul li {
    list-style:none;
    font-size:17px;
    padding:12px 8px 12px 50px;
    user-select:none;
    cursor:pointer;
    position:relative;
    

}

ul li::before
{
    content: '';
    position:absolute;
    height:20px;
    width:20px;
    border-radius:50%;
    background-image: url(../img/unchecked.png);
    background-size:cover;
    background-position:center;
    top:12px;
    left:8px;
}
ul li.checked{
    color:coral;
text-decoration:line-through;
}
ul li.checked::before{
    background-image:url(../img/checked.png)
}

ul li span{
    position:absolute;
    right:0px;
    top:5px;
    width:40px;
    height:40px;
    font-size:22px;
    color:#555;
    line-height:40px;
    text-align:center;
     border-radius:50%;
}
ul li span:hover{
    background:#edeef0;
}