/* 
*{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;

}
    nav {
      display:flex;
      background-color: coral;
      overflow: hidden;
      padding-bottom:1rem;
     padding-top:1rem;
      padding-left:2rem;
    }

    .container a {
        margin:1rem;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    
    }

    .container a:hover {
      background-color: #ddd;
      color: black;
    }

#logout{
  cursor:pointer;
  padding:1rem 2rem;
  border-radius:2rem;
   border:none;
    outline:none;
 background:coral;
    color:white;
    margin-left:7rem;
}
#logout:hover{
background:#ff5530;
}



.input{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    margin-top:5rem;
    margin-left:5rem;
    margin-right:5rem;

}
.input input{
   
    border:none;
    outline:none;
    background:transparent;
    padding:1rem;
    font weight:1rem;
    background: #edeef0;
    border-radius:3rem;
    
    
}
.input button{
    border:none;
    outline:none;
    padding:1rem 2rem;
    background:#ff5945;
    color:#fff;
    font-size:1rem;
    cursor:pointer;
    border-radius:40px;
}

.input button:hover{
background:#ff5530;
}



.todo-item {
    width:90%;
  display: flex; 
  align-items: center; 
  margin-bottom: 10px; 
}

.todo-item input[type="text"] {
  flex:1 ; 
  margin-right: 10px;

}
.todo-item button {
  flex-shrink: 0; 
  margin-right: 5px; 
} */

.heading{

  padding:2rem;
  color:#ff5530;
  padding-left:7rem;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:white ;
  padding: 50px;
  border: 5px solid coral;
  border-radius:20px;
}

.popup-btns {
  margin: 10px;
  
  text-align: right;
  
}
.todo-text{
display:inline-block;
}
#editedTodo{
 padding:20px;
 border: 2px solid grey;
  border-radius:10px;
}

#saveBtn{
   background-color:coral;
color:white;
  padding:5px;
  border: 2px solid coral;
  border-radius:10px;
  cursor:pointer;
}
#saveBtn:hover{
background-color:coral;
color:black;

}
#cancelBtn{
  background-color:coral;
color:white;
  
  padding:5px;
  border: 2px solid coral;
  border-radius:10px;
  cursor:pointer;
}
#cancelBtn:hover{
background-color:coral;
color:black;

}

.edit-btn{
  background-color:white;
  color:coral;
  float:right;
  margin-right:3rem;
  padding:4px;
    border: 0px  white;
  border-radius:10px;
  cursor:pointer;
 
}

.edit-btn:hover{
background-color:lightgrey;

}