
*{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;

}


    nav {
      background-color: coral;
      padding: 1.5rem;
    }

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .container .nav-links-data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .container a {
        margin:1rem;
      color: white;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
    }

    .container a:hover {
      background-color: white;
      color:coral;
      
    }
    #logout{
  cursor:pointer;
  padding:1rem 0.5rem;
  border-radius:2rem;
   border:none;
    outline:none;
 background:coral;
    color:white;
    margin-left:rem;
}
#logout:hover{
background:#ff5530;
padding:1rem 1.5rem;
} 

@media screen and (max-width: 610px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container a {
    margin: -0.01rem;
   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dp{
   display:none;
}
}



.active {
  background-color: white;
      color: coral !important;
      
}

#user-image{
 
  margin-right:7rem;
  position: absolute;
  right: 0;
  top: 3.5rem; 
  transform: translateY(-50%); 
}
#dp{
   border: 2px solid white;
 border-radius:80px;
 background-color:white;
}