<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/allTodos.css">
    <link rel="stylesheet" href="../css/navbar.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="container">
            <i class="fa-solid fa-list fa-2x"></i>
            <div class="nav-links">
                <a href="#" id="home-link">Home</a>
                <a href="#" id="add-todo-link">Add Todo</a>
                <a href="#" id="all-todos-link">All Todos</a>
            </div>
            <div>
                <button id="logout"><i class="fa-solid fa-right-from-bracket fa-2x">.</i></button>
            </div>
        </div>
    </nav>
    <div class="input" id="todo-container">
        <!-- Filter Tab -->
        <div class="filter-tab">
            <label for="userSelect">Select User:</label>

            <select name="user" id="userSelect">
                <option value="" disabled selected>Select User</option>
            </select>
            <button id="loadTodosButton">Load Todos</button>

        </div>
    </div>
    <div class="input" id="todo-container-1"></div>
    <div class="input" id="todo-container-2"></div>
    <script src="../js/allTodos.js"></script>
    <script src="../js/navbar.js"></script>
</body>

</html>