<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    <div id="signIn-page"></div>

    <script>
        // Use fetch to load content from content.html
        fetch('../components/sign-in.html')
            .then(response => response.text())
            .then(html => {
                // Inject the content into the contentContainer
                document.getElementById('signIn-page').innerHTML = html;
            })
            .catch(error => console.error('Error fetching content:', error));
    </script>
</body>

</html>